*{
    margin: 0;
    padding: 0;
    font-family: century gothicc;
}
header{
    background-color: rgb(23, 17, 17) ;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header h1{
    color: rgb(41, 176, 234);
    font-variant: inherit;
    position: absolute;
    left: 45%;
    text-decoration:underline;
    text-shadow: 5cqb;
    
}
header h2{
    color: rgb(41, 176, 234);
    font-style: oblique;
    position: absolute;
    margin-top: 3%;
    left: 45%;
    text-shadow: 5cqb;
}
header h4{
    color: rgb(41, 176, 234);
    font-style: oblique;
    position: absolute ;
    margin-top: 5%;
    left: 45%;
     text-shadow: 5cqb;
}