*{
    margin: 0;
    padding: 0;
    font-family: century gothicc;
}
header{
    background-image: url(pic.jpg) ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
    

}
ul{
    float: right;
    list-style-tyoe:0% ;
    margin-top: 23px;
     }

ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
    border: 2px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ui li.cat a{
    background-color: #fff;
    color: #000;
}

.main{
    max-width: 1200px;
    margin: auto;
}
.logo img{
    float: calc();
     width: 200px;
    height: 250px;
}
.main{
    max-width: 1300px;
    margin: auto ;
}
.title{
    position: absolute ;
    top: 50%;
    left: 38%;
    color: azure;
    transform: translate(-50%,-50%);
    
    
}
.title h1{
    color: #fff(250, 120, 14);
    font-size: 350%;
    
}
.button{
    position: absolute ;
    top: 58%;
    left: 40%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1.5px solid #53b8eb;
    padding: 5px 25px;
    text-decoration: underline;
    color: rgb(239, 215, 234);
    transition: 0.6s ease;
    font-size: 150%;
}
.btn:hover{
    background-color: #fff;
    color: #000;
    
}
.text {
    position: absolute ;
    top: 05%;
    left: 38%;
    color: rgb(214, 26, 23);
    transform: translate(-50%,-50%);
}

   
